{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset ('bundles/webseitehome/css/style.css') }}">
{% endblock %}
        
{% block javascripts_head %}{% endblock %}

{% block body %}
	<div id="mainContain">
		<div id="site">
			{% include 'WebseiteHomeBundle:_components:bottomLink.html.twig' %}
			{% include 'WebseiteHomeBundle:_components:navigation.html.twig' %}

			<div class="myContain">
				
				{% block body_contain_myContain %}{% endblock %}

				{# {% block costum_contain %}
				{% endblock %} #}
			</div>
			
			{% include 'WebseiteHomeBundle:_components:bodyfooter.html.twig' %}
		</div>
		
	</div>
{% endblock %}
            
{% block javascripts %}
	{{ parent() }}

    <script type='text/javascript' src='{{ asset ('bundles/webseitehome/js/appp.js') }}'></script>
    
    <script type='text/javascript' src='{{ asset ('bundles/webseitehome/js/app.js') }}'></script>
    {% block js_setNavigation %}{% endblock %}
{% endblock %}