<!DOCTYPE <!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>test - app</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <!--<link rel="stylesheet" href="css/main.css"> -->
    </head>
    <body style="background:azure">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        {{ 'app.test' | trans}}

        {# {% verbatim %}
            {{ mlocal1 }}
            | escape('html')
        {% endverbatim %} #}
        
        {% autoescape 'html' %}
            {{ mlocal1 | raw }}
        {% endautoescape %}
		
		{# <p>{{ mlocal2 }}</p> #}
		<p style="border:1px solid red">
			<a href="{{ path('fos_user_security_login') }}" target="_blank"> s'inscrire</a>
            {% block costum_contain %}{% endblock %}
		</p>
        <p><a href="http://www.w3schools.com" target="_blank"> s'inscrire</a></p>
        <p>https://www.google.be/</p>
    </body>
</html>

